<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Email" value="3336982070@qq.com" />
    <add key="uuid" value="91310120MA1HKMQE30-20200508" />
    <add key="sn" value="d951f4b172825d9b02b46d5bef07323d" />
  </appSettings>
</configuration>